.page_404 {
  padding: 40px 0;
  background: var(--white-color);
  font-family: "Arvo", serif;
  width: 100vw;
  height: auto;
  font-family: var(--font-primary);
}

.page_404 .four_zero_four_bg {
  margin-top: 5%;
  width: 100%;
}

.four_zero_four_bg {
  background-image: url("../../images/rock_fire_electricity.gif");
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
  color: var(--main-color);
  font-family: var(--font-extra-bold);
}

.four_zero_four_bg h3 {
  font-size: 80px;
  font-family: var(--font-extra-bold);
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: var(--main-color);
  margin: 20px 0;
  display: inline-block;
  font-family: var(--font-bold);
}
.contant_box_404 {
  margin-top: -50px;
}
