.ReceipContainer{
  display: flex;
  justify-content: center;
}

.formReceip {
  text-align: center;
  width: 50%;
  margin: 40px;
}

.inputFormReceip {
  outline: none;
}

.btnSubmit {
  width: 157px;
  height: 53px;
  margin-top: 70px;
}

.remove-img {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.remove-img:hover {
  background-color: darkred;
}


