.btn {
  background-color: var(--main-color);
  color: var(--white-color);
  text-decoration: none;
  font-size: 14px;
  height: 52px;
  width: 231px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  border: none !important;
  font-family: var(--font-extra-bold);
}

.btn:hover {
  color: var(--white-color);
  font-family: var(--font-extra-bold);
  background-color: var(--main-color);
  text-decoration: none;
}

h1 {
  margin-bottom: 0;
  color : var(--white-color);
}

h2 {
  margin-bottom: 0;
}

p {
  color : black;
  font-weight : 400;
}

a {
  text-decoration: none;
}