@import "./global/utilities.css";
@import "./global/header.css";
@import "./global/hero.css";
@import "./global/footer.css";

@font-face {
    font-family: "Roboto-Bold";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Bold-Italic";
    src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Roboto-Extra-Bold";
    src: url("../fonts/Roboto-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #dd7d85;
    --white-color: white;
    --image-radius: calc(.25rem - 1px);
    --font-primary: "Roboto-Regular", sans-serif;
    --font-bold: "Roboto-Bold", sans-serif;
    --font-extra-bold: "Roboto-Extra-Bold", sans-serif;
    --font-italic-bold: "Roboto-Bold", sans-serif;
}

html, body {
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

b, strong {
    font-family: var(--font-bold);
}

i {
    font-family: var(--font-italic-bold);
}

.hero-p {
    color: var(--white-color);
}