@import "../styles/global/utilities.css";
@import "../styles/global/header.css";
@import "../styles/global/hero.css";
@import "../styles/global/receip.css";
@import "../styles/global/receipCard.css";
@import "../styles/global/comments.css";
@import "../styles/global/login.css";
@import "../styles/global/footer.css";


.single-recette{
    display: flex;
    justify-content: center;
}

.card{
    margin-right: 2px;
}

.card-img-top{
    width: auto;
}

.hero-p{
    color: white;
}

.title_content{
    color:white;
}

.mini-images{
    width: 120px;
    margin-bottom: 3px;
    border-radius: 2px;
    max-width: 50vw;
    max-height: 50vh;
}

.other-images-container{
    display: flex;
    flex-direction: column;
    padding-top: 17px;
}